<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body >
   <div class="container">
    <h1>AI Resume Analyzer</h1>
    <br>
    <br>
    <i>Smart Resume Analysis for Better Career Opportunities</i>
    <br>
    <br>
    <p>Empowering smarter hiring through intelligent resume analysis. Compare your resume<br>
         with job requirements and discover the skills needed for your next opportunity.</p>
        <br>
    <form action="/analyze" method="POST" enctype="multipart/form-data">
        <div>
        <label>Upload Resume(PDF) :</label> 
        <input type="file" name="resume" accept=".pdf" required placeholder="Upload your Resume PDF here " >
        </div>

      <div>
        <label>Upload Job Description(PDF) :</label> 
        <input type="file" name="jd" accept=".pdf" required placeholder="Upload your JOB DESCRIPTION PDF here " >
        </div>
        
        <button type="submit" >Analyze Resume</button>
    </form>
    </div>
</body>
</html>